<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Testing">

<listeners>
	<listener class-name="com.qa.utilities.Reporting">
	</listener>
</listeners>
  <test thread-count="5" name="Amazon Functional testing">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
    	
      <class name="com.qa.testsScripts.TC_AmazonSearchItemDDT_003"/>
      <class name="com.qa.testsScripts.TC_AmazonSearchItem_001"/>
      <class name="com.qa.testsScripts.TC_AmazonHomePage_002"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
